.FirstTime-container {
  * {
    text-align: left;
  }
  max-width: 500px;
  margin: calc(50vh - 265px) auto 0;
  // position: absolute;
  align-items: center;
  height: calc(100vh - 50vh + 200px);

  .userForm-container {
    background: #efefef;
    min-height: 200px;
    width: 100%;
    margin: 0 auto 40px;
    contain: content;

    input {
      margin-top: 30px;
      padding: 10px 20px;
      width: calc(60% - 40px);
      font-size: 1rem;
    }

    .err,
    input.err:focus,
    .err.focused {
      border: 2px red solid !important;
      border-radius: 4px;
    }
    input:focus {
      outline: none;
    }

    button {
      text-align: center;
      font-size: 1rem;
      margin-top: 15px;
      width: 60%;
      height: 40px;
      border-radius: 1000px;
      border: 2px solid #094ea8;
      font-weight: 500;
      color: #094ea8;
      &:hover {
        cursor: pointer;
        background-color: #094ea8;
        color: white;
        color: #ff0000;
      }
    }
  }
  form:invalid button,
  form:invalid button:hover {
    pointer-events: none;
    background: #efefef;
  }
}

@media screen and (min-width: 780px) {
  .flowga-app-container {
    * {
      text-align: left;
    }
    margin: 0 auto;
    max-width: 1920px;
    #app-content {
      margin: 40px;
      height: calc(100vh - 65px - 80px);
      width: calc(100% - 80px);
      display: grid;
      grid-template-columns: 1fr 1fr minmax(150px, 400px);
      grid-template-rows: 40px 180px 1fr 1fr;
      grid-template-areas:
        "greeting greeting activity"
        "today today activity"
        "stats stats activity"
        "stats stats activity";
      h2.greeting {
        margin: 0;
        padding: 0;
        grid-area: greeting;
      }
      .activity-container::-webkit-scrollbar {
          width: 10px;
        }
        .activity-container::-webkit-scrollbar-thumb {
            margin: 10px 0;
            background-color: #333;
            border-radius: 100px;;
        }
      .activity-container {
        position: relative;
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        grid-area: activity;
        background-color: #094ea8;
        border-radius: 12px;
        padding: 20px;
        color: white;
        overflow-y: scroll;
        scroll-behavior: smooth;

        .act-card {
          // height: 70px;
          position: relative;
          background: #efefef;
          color: #333;
          * {
            margin: 0;
            padding: 0;
          }
          margin: 20px 0;
          padding: 15px 20px;
          border-radius: 8px;

          .act-difficulty {
            position: absolute;
            top: 15px;
            right: 16px;
            padding: 3px 8px;
            border-radius: 4px;
            &::before {
              content: "#";
            }
          }

          .easy {
            background: rgb(184, 223, 184);
          }
          .medium {
            background: rgb(221, 223, 184);
          }
          .hard {
            background: rgb(223, 193, 184);
          }
        }
      }
    }
  }
  .today-container {
      grid-area: today;
      max-height: 150px;
      background:rgb(184, 223, 184);
      margin-right: 40px;
      padding: 20px;
      border-radius: 12px;

      h2 {
          margin: 10px;
          padding: 0;
      }
  }
  #myChart {
    //   grid-area: stats;
  }
}
