// @import "../../assets/css/font-awesome.min.css";

@media screen and (min-width: 601px) {
  .home-container {
    width: 100vw;
    position: relative;

    #landing {
      position: relative;
      display: grid;
      margin: 140px auto 140px;
      justify-items: center;
      justify-content: center;
      max-width: 1440px;
      grid-template-areas:
        ".        img"
        "header   img"
        "info     img"
        "call     img"
        ".        img";
      grid-template-columns: 70ch 600px;
      overflow-x: hidden;

      .landing-image {
        contain: content;
        grid-area: img;
        img {
          width: 100%;
        }
      }

      h1.landing-header {
        position: absolute;
        left: 0;
        font-size: 3rem;
        grid-area: header;
        text-align: left;
        padding: 0;
        margin: 0;
      }
      p.landing-body {
        grid-area: info;
        max-width: 65ch;
        text-align: left;
        font-size: 1.1rem;
      }

      .callToAction {
        display: flex;
        align-items: center;
        grid-area: call;
        margin-top: 30px;
        position: relative;

        a {
          font-size: 1rem;
          text-decoration: none;
          color: #094ea8;
          margin-right: 30px;

          &::after {
            width: 100%;
            height: 0px;
            background: red;
          }
          &:hover {
            &::after {
              height: 2px;
            }
          }
        }
        .btn {
          padding: 10px 15px;
          border-radius: 600px;
          border: 1px transparent solid;
          padding: 10px 30px;
          background: #094ea8;
          color: white;
          font-size: 1rem;
        }
      }
    }

    // info section
    #information {
      text-align: center;
      margin: 140px auto 140px;
      max-width: 1440px;
      align-items: center;
      p.info-content {
        font-size: 1.05rem;
        width: 65ch;
        margin: 0 auto 50px;
        line-height: 1.6rem;
      }
      .information-banner {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 0 auto;

        div {
          margin: 12px;
          padding: 15px;
          width: 33%;
          background: #efefef;
          border-radius: 8px;
        }
      }
    }
  }
  #spacer {
    height: 500px;
  }
  #about-meddler {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    overflow: hidden;
    border-radius: 12px;
    .meddler-inner-container {
      width: inherit;
      height: 500px;
      background: #27222e;
      color: #fff;

      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 1fr;
      grid-template-areas: "aboutImage aboutContent";

      .meddler-img {
        grid-area: aboutImage;
        position: relative;
        // position: static;
        height: 500px;
        width: 100%;
        margin: 0 auto;
        overflow: hidden;
        display: block;

        background-image: url("../../assets/img/amk.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 100% 50%;

        img {
          position: absolute;
          top: 0;
          right: 0;
          width: auto;
          max-width: 120%;
          // height;
          min-height: 500px;
        }
      }
      .meddler-content {
        position: relative;
        grid-area: aboutContent;
        background-color: #27222e;
        width: calc(100% - 100px);
        padding: 50px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: -50px;

        .meddler-text {
          width: 100%;
          height: inherit;
          align-items: left;
          margin: 0 auto;
          text-align: left;
          max-width: 75ch;
          line-height: 1.5rem;
        }

        .meddler-button {
          width: 75ch;
          display: grid;
          // transition: 1s;
          .direct-to-about {
            position: relative;
            text-decoration: none;
            padding: 12px 25px;
            border-radius: 8px;
            width: 120px;
            text-align: center;
            color: white;
            border: 2px solid #fff;
            transition: 0.3s ease-in-out;

            &::after {
              content: url('../../assets/img/right-arrow-white.png');
              position: absolute;
              transform: scale(0.5);
              top: 0px;
              right: -10px;
              opacity: 0;
              transition: 0.3s ease-in-out;
              margin: 0;
              padding: 0;
            }
            &:hover {
              padding-left: 15px;
              padding-right: 35px;
              border:#094ea8 2px solid;
            }
            &:hover::after {
              opacity: 1;
              right: 12px;
            }
          }
        }
      }
    }
  }
  #download {
    margin: 40px auto;

    background-image: url('../../assets/img/download-background.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    position:relative;
    height: 400px;
    width: 100%;
    max-width: 1440px;

    border-radius: 12px;
    box-shadow: 0 10px 20px #9ccde485;
    .blur-container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left:0;
      backdrop-filter: blur(45px);
      border-radius: inherit;
      background:#27222e5d;
    }
    .cta-container {
      transform: translate(-50%, -50%);
      z-index: 10;
      position:absolute;
      width: 100%;
      // height: 100%;
      top: 50%;
      left: 50%;
      border-radius: inherit;
      color: white;

      p{
        max-width: 55ch;
        margin: 20px auto;
      }

      button {
        background-color: #38a338;
        padding: 12px 25px;
        color: white;
        border-radius: 8px;
        border: 1px solid transparent;
        
        &:hover {
          cursor: pointer;
          background-color: #348034;
        }
      }
    }
  }
}
// Mobile landing
@media screen and (max-width: 600px) {
  * {
    overflow-y: overlay;
    overflow-x: hidden;
  }
  .home-container {
    margin-top: 30px;
    #landing {
      width: 80vw;
      margin: 0 auto;
      display: grid;
      grid-template-areas:
        "header"
        "info"
        "image"
        "call";
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 2fr 1fr;
      max-width: 100%;

      overflow-x: hidden;

      .landing-image {
        width: 100%;
        margin: 0 auto;
        grid-area: image;
        // visibility: hidden;
        img {
          width: 100%;
        }
      }

      h1,
      p.lading-body {
        width: 80vw;
        margin: 0 auto;
        grid-area: content;
      }
      h1.landing-header {
        grid-area: header;
        font-size: 2.2rem;
        margin-bottom: 1rem;
      }

      .callToAction {
        margin-top: 30px;
        grid-area: callToAction;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 70vw;
        grid-area: call !important;

        a {
          font-size: 0.8rem;
          text-decoration: none;
          color: #094ea8;
        }
        .btn {
          padding: 10px 15px;
          border-radius: 600px;
          border: 1px transparent solid;
          padding: 10px 25px;
          background: #094ea8;
          color: white;
          font-size: 0.8rem;
        }
      }
    }
  }
  #information {
    margin-top: 140px auto 140px;
    max-width: 1440px;
    align-items: center;
    p.info-content {
      font-size: 1.05rem;
      width: 90%;
      margin: 0 auto 30px;
      line-height: 1.6rem;
    }
    .information-banner {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: 0 auto;

      div {
        margin: 5px;
        padding: 15px;
        width: 90%;
        background: #efefef;
        border-radius: 8px;
      }
    }
  }
  #spacer {
    height: 500px;
  }
}
